* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
a {
  cursor: pointer;
}
.slim-nav {
  border-bottom: 1px solid #ebe9ec;
}
.search-input {
  border-radius: 20px;
  width: 240px;
  height: 40px;
  padding-left: 50px;
  padding-right: 20px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.8);
}
.search-button {
  position: absolute;
  top: 0;
  left: 0;
}
.search-input::placeholder {
  color: #706e72;
}
.slim-nav-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.slim-nav-menu > *:nth-child(1) {
  margin-right: 32px;
}
.slim-nav-menu > *:nth-child(2) {
  margin-right: 16px;
}
.slim-nav-menu > *:nth-child(3) {
  margin-right: 32px;
}
.slim-nav-link {
  color: #706e72;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.slim-nav-link svg {
  margin-right: 8px;
}
.main-btn {
  background-color: #bb1a8e;
  border: 1px solid #bb1a8e;
  border-radius: 1386px;
  padding-right: 4px 12px 6px;
  color: #fff1ff;
  font-size: 14px;
  height: 38px;
}
.main-btn:hover {
  background-color: #fff;
  color: #bb1a8e;
  border: 1px solid #bb1a8e;
}
.date {
  font-size: 13px;
  color: #706e72;
}
.social-icon {
  color: #868588;
  gap: 33px;
}
.navbar-brand {
  font-size: 30px;
  color: #3e3d41;
  font-weight: 700;
}
.title {
  color: #706e72;
  font-size: 19px;
  margin: 8px 0 30px 0;
}
.paragraph {
  color: #3e3d41;
  font-size: 20px;
}
.smallTitle {
  font-size: 20px;
  color: #3e3d41;
  font-weight: 700;
  margin-top: 10px;
}
.copy {
  text-align: center;
  font-size: 13px;
  color: #706e72;
}
.icon-menu {
  gap: 20px;
  list-style-type: none;
}
.col-3 {
  border-left: 1px solid #ebe9ec;
  padding: 10px 10px 0 10px;
}
.aside-paragraph {
  font-size: 14px;
  color: #706e72;
}
.body-btn {
  background-color: #ebe9ec;
  padding: 8px, 18px, 8px, 16px;
  font-size: 14px;
  border-radius: 100px;
}
.backBody {
  background-color: #f5f2f6;
  margin-top: 10px;
  padding: 32px, 24px, 4px, 24px;
}
.date {
  font-size: 13px;
  color: #706e72;
}
